apiVersion: v1
kind: Secret
metadata:
  name: gitlab-registry-credentials
  namespace: {{ CI_ENVIRONMENT_SLUG }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ registry_auth | b64encode }}
